
.BackgroundSettings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 4px 0px;
}

.BackgroundColorForm{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(107 114 128);
    border-radius: 10px;
    height: 30px;
    margin: 4px 0px;
    font-size: 12px;
    font-weight: 600;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.434);
}

.BackgroundColorForm label{
    width: 100%;
    cursor: pointer;
}
.BackgroundColorForm input{
    z-index: -1;
    position: absolute;
    right: 0;
}

.BackgroundImageForm{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin: 5px 0px;
}

.BackgroundImageForm label{
    color: black;
    font-weight: 600;
    font-size: 14px;
}
.BackgroundImageForm input{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 98%;
    background-color: rgb(107 114 128);
    padding: 10px 5px;
    border-radius: 10px;
    margin: 5px 0px;
    color: black;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.434);
}


.BackgroundSettings p{
    color: gray;
    font-size: 14px;
    margin: 0;
}